<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapidRec</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/typeahead.min.css" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <!-- Website Font style -->
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	  <link href="/vendor/animate.css" rel="stylesheet" />
    <link href="/vendor/jquery.simple-dtpicker.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="/styles/style.css" rel="stylesheet">
	  <link href="/styles/default.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/index">
                    <h1>RapidRec</h1>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">

                <% if (id) { %>
                <li><a href="/user/<%=id%>/profile">Profile</a></li>
                  <li><a class="logout_button">Log Out</a></li>
                    <%  } else { %>
                     <li><a class="register_button" href="#" data-toggle="modal" data-target="#register-modal">Sign Up</a></li>
                    <li><a class="login_button" href="#" data-toggle="modal" data-target="#login-modal">Sign In</a></li>
                    <% } %>
               </ul>
            </div>
        </div>
    </nav>

    <section id="intro" class="intro">
      <div class="slogan">

        <h2 class="event_title">event tile here</h2>
        <div class='event_details'><br />
            <h4 class="event_location">event location here</h4>
            <h4 class="number_of_players">Player needed: </h4>
            <h4 class="event_start_time">start time</h4>
            <h4 class="event_end_time">end time</h4>
        </div>
      </div>

      <!--join and drop button-->
    </section>


    <!-- create event form -->

    <!--<main class="container">
      <section class="new-post">
      <h2>Write Post</h2>
      <form id="form" action="/posts" method="POST">
      <span id="error"></span>
        <textarea name="text" placeholder="Write something..."></textarea>
        <input type="submit" value="Post">
        </form>
        </section>

        <section id="posts">
        </section>

          </div>
       </div>
    </div>-->
<div class="container">
<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="event_join_button" role="button" style="text-decoration:none;" href="/event">
                            <h4 class="panel-title">Join</h4>
                        </a>
                    </div>
                    <div class="panel-heading">
                        <a class="event_drop_button" role="button" style="text-decoration:none;" href="/index">
                            <h4 class="panel-title">Drop</h4>
                        </a>
                    </div>
                </div>
            </div>
            <h3>Player List </h3>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="pull-right"><img src="/img/32basketball.png" class="basketball" width="24px" height="24px"></span> Player 1 Name</a>
                <a href="#" class="list-group-item"><span class="pull-right"><img src="/img/32basketball.png" class="basketball" width="24px" height="24px"></span>Player 2 Name</a>
                <a href="#" class="list-group-item"><span class="pull-right"></span>Player 3 Name</a>
                <a href="#" class="list-group-item"><span class="pull-right"></span>Player 4 Name</a>
                <a href="#" class="list-group-item"><span class="pull-right"><img src="/img/32basketball.png" class="basketball" width="24px" height="24px"></span>Player 5 Name</a>
            </div>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <!--post comment-->
            <div class="panel panel-default panel-body media new_post">
                        <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px">
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="2" ></textarea>
                        </div>
            </div>
            <hr>
            <!-- Simple post content -->
            <div class="panel panel-default panel-body" >
                <!--<div class="panel-body">-->
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
<<<<<<< HEAD
                    <h4><a href="#" style="text-decoration:none;"><strong>Dan Meow</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
=======
                    <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
                    <span>
                        <div class="navbar-right">
                            <div class="dropdown">

                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
>>>>>>> clean/profile_page_routing
                    <hr>
                    <div class="post-content">
                        <p>The terrified arch encodes basketball beneath the ready tile. Before a banana dresses the disorder. Basketball pardons the insult inside a painful scanner. How will the fur walk? The mist hangs the crushing giant opposite a rival.</p>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div>
            </div>

            <!-- Sample post content with comments. -->
            <div class="panel panel-default panel-body">

                    <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>Dan Meow</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>

                    <hr>
                    <div class="post-content">
                        <p>The spoilt token forbids an infant demise. With basketball spins game. The dance bites each spiral. Basketball stares without an artist. Can basketball nose beside the censor? Game cooks basketball in the joy.</p>
                    </div>
                    <hr>
                    <div>
                        <div class="post-content panel-default panel-body">
                                    <div class="pull-left">
                                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                                    </div>
                                    <h4><a href="#" style="text-decoration:none;"><strong>HoHo Meow</strong></a></h4>
                                    <hr>
                                    <div class="post-content">
                                        Yet another post.<br><br>
                                        <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 2 minutes ago</i></a></small></small>
                                    </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>

            <!--end of post with comment-->

        </div>
    </div>
</div>
</div>
  </main>
    <!-- Core JavaScript Files -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- <script src="vendor/jquery.min.js"></script> -->
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/vendor/jquery.easing.min.js"></script>
  <script src="/vendor/jquery.scrollTo.js"></script>
  <script src="/vendor/jquery.js"></script>
  <script src="/vendor/wow.min.js"></script>
  <script src="/vendor/jquery.simple-dtpicker.js"></script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/postmessage.js"></script>
  <script src="/scripts/event.js"></script>
  <script src="/scripts/login.js"></script>
  <script>
    $(() => {
      loadPage(<%= id %>);
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/en-ca.js"></script>
</body>


</html>
