<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/google/googleApi.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK9KGVsj13oDFAXoWJoNguMVkqnEZ9GY0&libraries=places"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <style>
  html, #map {
height: 20em;
width: 40em;
 padding: 10px;
     margin: 10px;
   }
  </style>

     <div id="map"></div>
  </body>
</html>
