<div class="panel panel-default panel-body media new_post">
                        <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px">
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="2" id="neweventpost" ></textarea>
                        </div>
            </div>
            <hr>
            <!-- Simple post content -->
            <div class="panel panel-default panel-body" >
                <!--<div class="panel-body">-->
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                        </a>
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>Dan Meow</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
                    <hr>
                    <div class="post-content">
                        <p>The terrified arch encodes basketball beneath the ready tile. Before a banana dresses the disorder. Basketball pardons the insult inside a painful scanner. How will the fur walk? The mist hangs the crushing giant opposite a rival.</p>
                    </div>
                    <hr>
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" id="neweventcomment" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div>
            </div>

            <!-- Sample post content with comments. -->
            <div class="panel panel-default panel-body">

                    <div class="pull-left">
                            <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>Dan Meow</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>

                    <hr>
                    <div class="post-content">
                        <p>The spoilt token forbids an infant demise. With basketball spins game. The dance bites each spiral. Basketball stares without an artist. Can basketball nose beside the censor? Game cooks basketball in the joy.</p>
                    </div>
                    <hr>
                    <div>
                        <div class="post-content panel-default panel-body">
                                    <div class="pull-left">
                                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-right:8px; margin-top:-5px;">
                                    </div>
                                    <h4><a href="#" style="text-decoration:none;"><strong>HoHo Meow</strong></a></h4>
                                    <hr>
                                    <div class="post-content">
                                        Yet another post.<br><br>
                                        <br><small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 2 minutes ago</i></a></small></small>
                                    </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="/img/avatars/1493188279_ninja.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                        </div>
                    </div>
                </div>
