/*create event nav bar*/
/*.btn-info {
  color: #ffffff;
  background-color: #00bcd4;
  border-color: transparent;
}

.btn-block {
  display: block;
  width: 100%;
}*/


.create_event {
  margin-top: 100px;
}
