#map {
  width: 100%;
  height: 450px;
}
#pac-input {

    margin-top: 5px;
    width: 75%;
}

/*for profile.ejs*/

/*a:link a:visited .gameblock {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      a:hover, a:active{
        background-color: red;
      }*/


      /*for testing comments function on event page only*/

      .post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

body {
    background-color: #e8e8e8;
}





.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.avatar {
    border-radius: 1000px;
}



.notifications .stream-element.media.unread {
    background-color: #eee;
    padding:2px;
}

@media (max-width: 768px) {
    .post-content{
        margin-left: 0px;
    }
}

.panel-footer small a {
    color: #FFF;
}

#accordion .panel-footer {
    color: #FFF;
    padding-bottom: 100px;
    background: #222 URL('https://diasporafoundation.org/assets/logo-e280790b46ace035cde8657c606b7b8cf6d925c7313a48f3d53a6340f59d5dfd.png') no-repeat 0 100% local;
    background-position-x: 95%;
}
